<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="guitarOrder">
      <h2 data-cy="guitarOrderDetailsHeading"><span jhiTranslate="guitarShopApp.guitarOrder.detail.title">Guitar Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ guitarOrder.id }}</span>
        </dd>
        <dt><span jhiTranslate="guitarShopApp.guitarOrder.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ guitarOrder.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="guitarShopApp.guitarOrder.orderOwner">Order Owner</span></dt>
        <dd>
          <span>{{ guitarOrder.orderOwner?.login }}</span>
        </dd>
        <dt><span jhiTranslate="guitarShopApp.guitarOrder.guitarsInOrder">Guitars In Order</span></dt>
        <dd>
          <span *ngFor="let guitarsInOrder of guitarOrder.guitarsInOrders; let last = last">
            <a [routerLink]="['/guitar', guitarsInOrder.id, 'view']">{{ guitarsInOrder.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
      </button>

      <button type="button" [routerLink]="['/guitar-order', guitarOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
      </button>
    </div>
  </div>
</div>
